<config>
    <routes>
        <default>home</default>
        <route>
            <method>get</method>
            <match>home</match>
            <target>pages/home.php</target>
        </route>
        <route>
            <method>get</method>
            <match>downloads</match>
            <target>pages/downloads.php</target>
        </route>
        <route>
            <method>get</method>
            <match>mapViewer</match>
            <target>pages/mapViewer.php</target>
        </route>
    </routes>
</config>