html, body
{
    background-color: #0d1117;
}

nav, .dropdown-content
{
    background-color: #1d2127;
}

.dropdown-content li:hover
{
    background-color: #2d3137;
}

.divider, .vertical-divider
{
    background-color: #3d4147;
}

a
{
    color: #039be5;
}

.container
{
    padding-top: 10px;
}

table tr th
{
    background-color: #1d2127;
}

.striped tr:nth-child(odd) td
{
    background-color: #0d1117;
}

.striped tr:nth-child(even) td
{
    background-color: #2d3137;
}

.red
{
    background-color: #aa0000 !important;
}

.green
{
    background-color: #009900 !important;
}

#directory-render tr th
{
    background-color: unset;
}

#directory-render, #directory-render tr, #directory-render tr td, #directory-render tr th
{
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    border-spacing: 0px;
    border-width: 0px;
    font-style: italic;
}

#directory-render tr td a
{
    font-style: normal;
}

#directory-render .down, #directory-render .down-right, #directory-render .right
{
    width: 32px;
    height: 32px;
}

#directory-render .down
{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAN0lEQVR42u3OsQ0AIAwDQSv7T8sCAVaAIs1Z+tLSVa/kubuf/6kyPAAAAAAAAAAAAAAAAAAAgA0rrEBsH4+MZAAAAABJRU5ErkJggg");
    background-repeat: no-repeat;
}

#directory-render .down-right
{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAFiUAABYlAUlSJPAAAABASURBVFhH7daxEQAgCARBtP+e1YAKwBkD95In3JDotE55lpu5zwIAAAAAAAAYuaVu/AOtPCQ3AgAAAAD4HRCxAYYXDDA46GlGAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
}

#directory-render .right
{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAARUlEQVR42u3RwQkAIAwEwSR/++9TC7hoC95DkD3YZ2AgpRlx3Zlzv6t4PAAAAAAAAACADxiSkwdYmW4fvAAAAAAAAAAw11pucWHSb5gnAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
}

nav a, html, body, input, .select-wrapper ul li span
{
    color: #d0d0d0 !important;
}

input::placeholder
{
    color: #1d2127 !important;
}

.select-wrapper ul .disabled span
{
    color: #2d3137 !important;
}

.select-wrapper .caret
{
    fill: #2d3137 !important;
}