html, body
{
    background-color: #0d1117;
}

nav a, html, body
{
    color: #d0d0d0 !important;
}

nav, .dropdown-content
{
    background-color: #1d2127;
}

.dropdown-content li:hover
{
    background-color: #2d3137;
}

.divider, .vertical-divider
{
    background-color: #3d4147;
}

a
{
    color: #039be5;
}